@use '../util/' as *;

html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    @include flex(center);
    background: url(/images/bg-mobile.svg) no-repeat, var(--background);
    background-size: 100%;

    @include breakpoint(medium) {
        background: url(/images/bg-desktop.svg), var(--background);
    }
}

.container {
    @include center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}
